:root {
    --primary-color: #1a8053;
    --secondary-color: #18734b;
    --text-white: #fff;

    --header-height: 17.5rem;
    --header-topbar-height: 4rem;
    --header-navbar-height: 4.5rem;
    --header-main-height: calc(var(--header-height) - var(--header-topbar-height) - var(--header-navbar-height));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-color: #f5f8fd;
}

.container {
    width: 114rem;
    max-width: 117rem;
    margin: 0 auto;
}


/* BTN CSS */
.btn {
    padding: 1.2rem 1.8rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn:hover {   
    background-color: #115235;
}

.slider__btn {
    display: none;
    width: 4rem;
    height: 4rem;
    border: 2px solid #fff;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 50%;
    line-height: 4rem;
    color: #fff;
    transition: all .2s linear;
    z-index: 999;
}

.slider__btn:hover {
    color: #fff;
    background-color: #008848;
    border-color: #008848;
}

/* KEYFRAMES CSS */
@keyframes btnFadeInLeft {
    from {
        opacity: 0;
        left: 3rem;
    }
    to {
        opacity: 1;
        left: 1.5rem;
    }
}

@keyframes btnFadeInRight {
    from {
        opacity: 0;
        right: 3rem;
    }
    to {
        opacity: 1;
        right: 1.5rem;
    }
}


:root {
    --scale-from: 0.2;
    --scale-to: 1;
    --opacity-from: 0;
    --opacity-to: 1;
}

@keyframes Scale {
    from {
        opacity: var(--opacity-from);
        transform: scale(var(--scale-from));
    }
    to {
        opacity: var(--opacity-to);
        transform: scale(var(--scale-to));
    }
}

@keyframes Scale {
    from {

        opacity: var(--opacity-from);
        transform: scale(var(--scale-from));
    }
    to {
        opacity: var(--opacity-to);
        transform: scale(var(--scale-to));
    }
}