.form__infor {
    width: 750px;
    margin: 1.6rem auto;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 1.6rem 3.2rem;
}

.form__heading {
    font-size: 4.8rem;
    text-align: center;
    font-weight: 600;
}

.form__input-field {
    align-items: center;
}

.form__label {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--font-text-color);
    text-align: right;
    margin-right: 2.3rem;
}

.form__control {
    padding: 0 2rem;
    font-size: 1.5rem;
    height: 6.8rem;
    border: 2px solid transparent;
    border-radius: 2px;
    background-color: var(--field-color);
    color: rgb(137, 137, 137);
    transition: .3s all linear;
}

.form__control:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

.form__control[type=radio] {    
    appearance: none;
    width: 2.8rem;
    height: 2.8rem;
    border: 1.6px solid var(--field-color);
    border-radius: 50%;
    padding: 0;
    background: none;
}

.form__control[type=radio]:checked {
    background-color: var(--secondary-color);
    position: relative;
    border: none;
}

.form__control[type=radio]:checked::before {
    content: "\f107";
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    color: var(--text-color);
}

.form__input-level {
    height: 6.8rem;
    border-top: 2px solid var(--field-color);
    border-bottom: 2px solid var(--field-color);
}

.form__input-check {   
    display: flex;
    align-items: center;
}

.form__accept {
    padding-bottom: 10rem;
}

.form__accept-bd-top {
    height: 12rem;
    border-top: 2px solid var(--field-color);
}

.form__text {
    width: 70%;
    font-size: 2rem;
    font-weight: 600;
    top: 100%;
    left: 0;
    color: rgb(132, 140, 149);
}

.form__submit {
    height: 8rem;
    font-size: 4.2rem;
    font-weight: 600;
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    border-radius: 2px;
}

.form__submit:hover {
    background-color: var(--secondary-color);
    transition: .1s all linear;
    cursor: pointer;
}
